.wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;

    &>li:not(:first-of-type) {
        padding-left: 20px;
    }
}

.lang {
    display: flex;
    align-items: center;
}
