$main-color-1: #4F4033;
$main-color-2: #C1B6AD;
$main-color-3: #FFFFFF;
$main-color-4: #D9D9D9;

.main-wrapper {
    margin: 0 auto;
    min-width: 320px;
    max-width: 375px;
    background-color: $main-color-1;
    color: $main-color-2;
}
