@import "../../_global.scss";

.title-h1 {
    font-size: 50px;
    color: $main-color-3;
    position: absolute;
    bottom: 80px;
    left: 20px;
    line-height: 55px;
    -webkit-text-stroke: 1px $main-color-1;

   & > span {
    color: transparent;
    -webkit-text-stroke: 1px white;
    }
}
